html {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  min-width: 320px;
  background-color: white;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  background-color: #007765;
}

.container {
  width: 1109px;
  height: 84px;
  padding: 0 55px 0 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navbar {
  list-style-type: none;
}

.navbar li {
  display: inline-block;
  color: white;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin-left: 8px;
  margin-right: 8px;
}

.navbar li a:hover {
  color: black;
}

.logo {
  width: 184px;
}

.main {
  font-size: 72px;
  font-weight: 500;
  color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 403px;
  margin: 0 auto;
  padding-top: 84px;
}

.backgr {
  background-color: #eeeeee;
}

.text_block_1 {
  background-color: #eeeeee;
  margin: 0 auto;
  height: 671px;
  max-width: 1219px;
}
.text_block_1 h2 {
  color: #007765;
  font-size: 64px;
  font-weight: 500;
  margin: 0 auto;
  padding-top: 48px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text_1 {
  font-size: 32px;
  font-weight: 400;
  margin: 0px 54px 0px 55px;
  height: 468px;
}

.supercomputer_container {
  background-image: url(../images/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 483px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.supercomputer_text {
  color: white;
  font-size: 48px;
  font-weight: 500;
  font-style: italic;
  margin: 0 auto;
  text-align: center;
  max-width: 893px;
}

.text_block_2 {
  background-color: white;
  margin: 0 auto;
  height: 558px;
  max-width: 1219px;
}

.text_block_2 h2 {
  color: #007765;
  font-size: 64px;
  font-weight: 500;
  margin: 0 auto;
  padding-top: 48px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_image_block_2 img {
  height: 115px;
  float: left;
  margin: 0px 38px 0px 55px;
}

.text_image_block_2 p {
  font-size: 32px;
  font-weight: 400;
  margin: 16px 54px 40px 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team_block {
  background-color: #eeeeee;
  margin: 0 auto;
  height: 845px;
  max-width: 1219px;
}

.team_block h2 {
  color: #007765;
  font-size: 64px;
  font-weight: 500;
  margin: 0 auto;
  padding-top: 48px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team_block table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team_block figure {
  height: 283px;
  width: 350px;
  margin: 0 auto;
  padding-top: 32px;
}

.team_block img {
  height: 168px;
  padding-top: 24px;
}

.team_block figcaption {
  color: #007765;
  font-size: 24px;
  font-weight: 700;
}

.team_block figcaption .proff {
  color: black;
  font-size: 18px;
  font-weight: 400;
}

footer {
  height: 176px;
  background-color: #333;
  margin: 0 auto;
}

footer p {
  color: white;
  margin: 0 auto;
  padding: 48px 339px 64px 340px;
  font-size: 18px;
  font-weight: 400;
  max-width: 540px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
